<div id="main-container" class="container-fluid">

  <div>
    <ul class="nav nav-pills justify-content-center">
      <li class="nav-item" *ngFor="let category of categories; let cIndex = index">
        <a class="nav-link" href="javascript:void(0)" [class.active]="categoryIndex === cIndex" (click)="categoryChange(cIndex)">{{category.name}}</a>
      </li>
    </ul>
  </div>

  <div class="row">
    <div *ngFor="let item of items" class="col-lg-4 col-md-6 col-sm-12 my-2">
      <div class="card">
        <img class="card-img-top d-sm-none d-xs-none d-md-block w-75 mx-auto mt-3" style="height: auto" src="{{item.imageUrl || '../../../assets/placeholder-image.png'}}">
        <div class="card-body">
          <h5 class="card-title">
            #{{item.id}} {{item.name}}
            <span *ngIf="item.available === false" class="badge badge-danger ml-2">UNAVAILABLE</span>
            <span *ngIf="item.sold" class="badge badge-danger ml-2">SOLD</span>
            <span *ngIf="item.totalAvailable < 1 && item.packageType === PackageType.MultiSale" class="badge badge-danger ml-2">SOLD OUT</span>
          </h5>
          <div>
            <p>{{item.description}}</p>
          </div>
          <div *ngIf="item.packageType === PackageType.MultiSale">
            <span class="font-weight-bold">Total Available:</span>
            <span class="float-right">{{item.totalAvailable
              <=1 ? '0' : item.totalAvailable}}</span>
          </div>
          <div *ngIf="item.packageType !== PackageType.MultiSale">
            <div>
              <span class="font-weight-bold">Current Bid:</span>
              <span class="float-right mx-2" [@increaseState]="item.state">{{item.currentBid | currency:'CAD':'symbol-narrow'}}</span>
            </div>
            <div *ngIf="item.available && !item.sold">
              <span class="font-weight-bold">Bid Increment:</span>
              <span class="float-right mx-2">{{item.bidIncrement | currency:'CAD':'symbol-narrow'}}</span>
            </div>
            <div *ngIf="item.available && !item.sold">
              <span class="font-weight-bold">Next Bid:</span>
              <span class="float-right mx-2">{{item.currentBid + item.bidIncrement | currency:'CAD':'symbol-narrow'}}</span>
            </div>
            <div>
              <span class="font-weight-bold">Current Winner:</span>
              <span *ngIf="!item.currentWinner" class="float-right mx-2">No bids placed</span>
              <span *ngIf="item.currentWinner" class="float-right mx-2">{{item.currentWinner.displayName ? item.currentWinner.firstName + ' ' + item.currentWinner.lastName : item.currentWinner.bidderNumber}}</span>
            </div>
          </div>
          <div class="row" *ngIf="item.available && !item.sold">
            <div *ngIf="currentBidder ? item.currentWinner?.bidderNumber === currentBidder.BidderNumber : false" class="col-lg-12 mt-2">
              <button type="button" class="btn btn-primary w-100" disabled>Winning</button>
            </div>
            <div *ngIf="item.packageType !== PackageType.MultiSale && !(currentBidder ? item.currentWinner?.bidderNumber === currentBidder.BidderNumber : false)"
              class="col-lg-12 mt-2">
              <button type="button" class="btn btn-primary w-100" (click)="placeBid(item.id, item.currentBid + item.bidIncrement)" [disabled]="!item.available || item.sold || (item.packageType === PackageType.MultiSale && item.totalAvailable < 1)">Place Bid for {{item.currentBid + item.bidIncrement | currency:'CAD':'symbol-narrow'}}</button>
            </div>
            <div *ngIf="item.buyNowPrice && item.packageType === PackageType.MultiSale" class="col-lg-12 mt-2">
              <button type="button" class="btn btn-primary w-100" [disabled]="item.totalAvailable < 1 || !item.available" (click)="purchaseItem(item.id)">{{ item.totalAvailable > 0 ? 'Buy Now ' + (item.buyNowPrice | currency:'CAD':'symbol-narrow') : 'SOLD OUT'}}</button>
            </div>
            <div *ngIf="item.buyNowPrice && item.packageType !== PackageType.MultiSale" class="col-lg-12 mt-2">
              <button type="button" class="btn btn-success w-100" (click)="buyNow(item.id)" [disabled]="!item.available || item.sold || (item.packageType === PackageType.MultiSale && item.totalAvailable < 1)">Buy Now {{item.buyNowPrice | currency:'CAD':'symbol-narrow'}}</button>
            </div>
            <div *ngIf="item.goal > 0" class="mt-2 text-center w-100">
              <span class="font-weight-bold">Goal</span>
              <p-progressBar [value]="item.currentBid / item.goal * 100"></p-progressBar>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>