<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-2 fixed-top">
  <a class="navbar-brand" href="#">Auction Bidder</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/live" routerLinkActive="active">Live Auction</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/silent" routerLinkActive="active">Silent Auction</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/multisell" routerLinkActive="active">Multi-sell Items</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/packages" routerLinkActive="active">Packages</a>
      </li>
    </ul>
    <div *ngIf="!bidder">
      <form class="form-inline my-2 my-lg-0" (submit)="login()" (keydown.enter)="login()" [formGroup]="loginForm">
        <input class="form-control mr-sm-2" type="search" placeholder="Bidder Number" pKeyFilter="int" aria-label="Search" formControlName="BidderNumber" [class.is-invalid]="bidderLookupFailed">
        <button class="btn btn-light my-2 my-sm-0 mr-sm-2" type="submit">Login</button>
        <button type="button" class="btn btn-light my-2 my-sm-0" (click)="displayRegister = !displayRegister">Register</button>
      </form>
    </div>
    <div *ngIf="bidder" class="dropdown">
      <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        {{bidder ? bidder.FirstName + ' ' + bidder.LastName + ' (' + bidder.BidderNumber + ')' : 'Login'}}
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">My Bids
          <span class="float-right">
            <i class="fas fa-trophy"></i>
          </span>
        </a>
        <a class="dropdown-item" (click)="logout()">Logout
          <span class="float-right">
            <i class="fas fa-sign-out-alt"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
</nav>

<p-dialog header="Register" [(visible)]="displayRegister" modal="true" dismissableMask="true" width="600">
  <form (submit)="register()" [formGroup]="registerBidderForm">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" formControlName="FirstName">
      <div *ngIf="registerBidderForm.controls.FirstName.invalid">
        <small class="text-danger">Required.</small>
      </div>
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" formControlName="LastName">
      <div *ngIf="registerBidderForm.controls.LastName.invalid">
        <small class="text-danger">Required.</small>
      </div>
    </div>
    <div class="form-group">
      <label for="phoneNumber">Phone Number</label>
      <input type="text" class="form-control" id="phoneNumber" pKeyFilter="int" formControlName="Phone">
      <div *ngIf="registerBidderForm.controls.Phone.invalid">
        <small class="text-danger">Required.</small>
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email Address</label>
      <input type="text" class="form-control" id="email" formControlName="Email">
      <div *ngIf="registerBidderForm.controls.Email.invalid">
        <small class="text-danger">Required.</small>
      </div>
    </div>
    <div>
      <button type="submit" class="btn btn-primary ml-2" [disabled]="registerBidderForm.invalid">Save</button>
      <button type="button" class="btn btn-secondary ml-2" (click)="displayRegister = !displayRegister; displayLogin = !displayLogin">Cancel</button>
    </div>
  </form>
</p-dialog>