<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-2">
  <a class="navbar-brand" href="#">Auction Bidder</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/live" routerLinkActive="active">Live Auction</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/silent" routerLinkActive="active">Silent Auction</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/super-silent" routerLinkActive="active">Super Silent</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/multisell" routerLinkActive="active">Multi-sell Items</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/packages" routerLinkActive="active">Packages</a>
      </li>
    </ul>
    <div class="navbar-text">
      <a *ngIf="bidder" class="mr-3">{{'Welcome, ' + bidder.FirstName + ' ' + bidder.LastName + '! (Bidder Number: ' + bidder.BidderNumber + ')'}}</a>
      <a [routerLink]="bidder ? null : '/login'" routerLinkActive="active" (click)="bidder ? logout() : null">{{bidder ? 'Logout' : 'Login'}}
        <span *ngIf="bidder">
          <i class="fas fa-sign-out-alt ml-2"></i>
        </span>
        <span *ngIf="!bidder">
          <i class="fas fa-sign-in-alt ml-2"></i>
        </span>
      </a>
    </div>
  </div>
</nav>
