<div *ngIf="!registerBidder">
  <form class="form-inline" (submit)="login(bidderNumber.value)">
    <div class="form-group">
      <input type="text" class="form-control" pKeyFilter="int" placeholder="Bidder Number" #bidderNumber>
    </div>
    <button type="submit" class="btn btn-primary ml-2">Login</button>
    <button type="button" class="btn btn-secondary ml-2" (click)="registerBidder = !registerBidder">Register</button>
    <span *ngIf="bidderLookupFailed" class="alert alert-danger m-0 p-2 ml-2">No Bidder Found</span>
  </form>
</div>
<form *ngIf="registerBidder" (submit)="register()" [formGroup]="registerBidderForm">
  <div class="row">
    <div class="form-group col-lg-6">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" formControlName="FirstName">
      <div *ngIf="registerBidderForm.controls.FirstName.invalid">
        <small class="text-danger">Required.</small>
      </div>
    </div>
    <div class="form-group col-lg-6">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" formControlName="LastName">
      <div *ngIf="registerBidderForm.controls.LastName.invalid">
        <small class="text-danger">Required.</small>
      </div>
    </div>
    <div class="form-group col-lg-6">
      <label for="phoneNumber">Phone Number</label>
      <input type="text" class="form-control" id="phoneNumber" pKeyFilter="int" formControlName="Phone">
      <div *ngIf="registerBidderForm.controls.Phone.invalid">
        <small class="text-danger">Required.</small>
      </div>
    </div>
    <div class="form-group col-lg-6">
      <label for="email">Email Address</label>
      <input type="text" class="form-control" id="email" formControlName="Email">
      <div *ngIf="registerBidderForm.controls.Email.invalid">
        <small class="text-danger">Required.</small>
      </div>
    </div>
  </div>
  <div>
    <button type="submit" class="btn btn-primary ml-2" [disabled]="registerBidderForm.invalid">Save</button>
    <button type="button" class="btn btn-secondary ml-2" (click)="registerBidder = !registerBidder">Cancel</button>
  </div>
</form>
<div class="mt-2">
  <h5>Test Users</h5>
  <button type="button" class="btn btn-primary m-2" (click)="selectBidder(user)" *ngFor="let user of bidders">
    {{user.FirstName}} {{user.LastName}}
    <br>Bidder Number: {{user.BidderNumber}}
  </button>
</div>